:root {
  --bs-primary: #4272d7;
  --bs-primary-rgb: 66, 114, 215; 
  --main-font: 'Open Sans', sans-serif;
}

.btn-primary {
  --bs-btn-bg: #4272d7;
  --bs-btn-border-color: #4272d7;
  --bs-btn-hover-bg: #365eb3; 
  --bs-btn-hover-border-color: #365eb3;
}

.toast.hide {
  display: none;
  opacity: 0;
}

.toast.show {
  display: block;
  opacity: 1;
  animation: slideIn 0.3s ease-out;
}

@keyframes slideIn {
  from { transform: translateX(100%); }
  to { transform: translateX(0); }
}